{% extends "layout.html" %}

{% block body %}

    <h1>History</h1>
    <table>
        <thead>
            <tr>
                <th>Query</th>
                <th>Sentiment</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>            
        </thead>
        <tbody>
            {% for item in history %}
            <tr>
                <td>{{ item.query }}</td>
                <td>{{ item.sentiment }}</td>
                <td>
                    <form action="/delete" method="post">
                        <input value="{{ item.id }}" type="hidden" name="id">
                        <input type="submit" value="Delete">
                    </form>                    
                </td>

                <td>
                    <form action="/update" method="post">
                        <input value="{{ item.id }}" type="hidden" name="id">
                        <input type="text" placeholder="Enter updated query" name="query">
                        <input type="submit" value="Update">
                    </form>
                </td>
            </tr>
            {% endfor %}            
        </tbody>
    </table>
{% endblock %}